*{
  transition: background-color 0.5s ease-in-out;
}

#icons li{
  background-image: url("../img/card_icons.png");
  cursor: pointer;
  display: block;
  width: 40px;
  height: 48px;
  margin: 20px;
  background-size: 378px;
  background-position-y: -48px;
  transition: all .25s ease-out;
}

#icons li.active{
  background-position-y: -96px !important;
}

#icons li[data-fn=name]{
  background-position: 0px -48px;
}

#icons li[data-fn=mail]{
  background-position: -68px -48px;
}

#icons li[data-fn=birthday]{
  background-position: -136px -48px;
}

#icons li[data-fn=address]{
  background-position: -204px -48px;
}

#icons li[data-fn=phone]{
  background-position: -272px -48px;
}

#icons li[data-fn=password]{
  background-position: -340px -48px;
}

.nav-btn {
  opacity: 0.2;
  transition: 0.3s ease;
  font-size: 1.7em;
}

.nav-btn:hover {
  opacity: 1;
  font-size: 2.4em;
}

.dropdown-item.no-mouse:active,
.dropdown-item.no-mouse:focus {
  background-color: transparent !important;
  color: inherit !important;
}

.dropdown-item.no-mouse:hover {
  background-color: transparent !important;
}

.dropdown-item.no-mouse {
  cursor: default !important;
}

.flag{
  font-family: "Twemoji Country Flags";
}